<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
    <title>Error</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
</head>

<body>
  <div class="container-fluid">
   <div class="row">
    <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
    <div class="col">
     <div id="pengadaan">
      <div class="card m-4 p-4">
       <div class="card-body">
        <div class="text-center">
          <h4>Maaf, rencana tidak tersimpan.</h4>
          <h4>Mohon mengisi barang untuk rencana pengadaan.</h4>
      </div>
      <div class="text-center m-3">
          <a type="button" class="btn btn-md btn-secondary" href="/rencana/">Kembali</a>
      </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>

</html>