<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>
        Detail Pengadaan
    </title>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>

    <style>
        .row{
            margin-bottom: 20px; 
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/pengadaan">Daftar Pengadaan</a></li>
                        <li class="breadcrumb-item" aria-current="page">Detail Pengadaan</li>
                    </ol>
                </nav>
                <div class="card mx-lg-5 m-4 p-4">
                    <div class="card-body text-center">
                        <h1 style="font-weight: bold;" th:text="${pengadaan.namaPengadaan}"></h1>
                        <h4 style="color: #999;" th:text="${pengadaan.idPengadaan}"></h4>
                        <br>
                            <h6 style="text-align: left;"><b> Barang Pengadaan </b></h6>
                            <table id="table" class="table table-bordered text-center">
                                <thead class="table-dark">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nama Barang</th>
                                    <th scope="col">Jumlah Barang</th>
                                    <th scope="col">Harga Barang</th>
                                    <th scope="col">Diskon Satuan</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pengadaanBarang, iterationStatus : ${pengadaan.listPengadaanBarang}">
                                    <td th:text="${iterationStatus.index +1}"></td>
                                    <td th:text="${pengadaanBarang.namaBarang}"></td>
                                    <td th:text="${pengadaanBarang.jumlahBarang}"></td>
                                    <td th:text="${pengadaanBarang.hargaBarang}"></td>
                                    <td th:text="${pengadaanBarang.diskonSatuan}"></td>

                                </tr>
                                </tbody>
                            </table>
                            <br><br>
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <td style="font-size: 16px; text-align: left;">Total Harga Awal</td>
                                    <td th:text="': Rp.'+${totalHargaAwal}" style="text-align: left;"></td>
                                </tr>

                                <tr>
                                    <td style="font-size: 16px; text-align: left;">Total Harga Setelah Diskon</td>
                                    <td th:text="': Rp.'+${totalHargaDiskonSatuan}" style="text-align: left;"></td>
                                </tr>

                                <tr>
                                    <td style="font-size: 16px; text-align: left; ">Total Harga Akhir</td>
                                    <td th:text="': Rp.'+${totalHargaAkhir}" style="text-align: left; font-weight: bold;"></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="d-flex justify-content-end mt-3">
                                <div class="m-3">
                                <a type="button" class="btn btn-md btn-success" th:href="@{/pengadaan}">Kembali</a>
                                <a type="button" class="btn btn-md btn-success" >Update</a>
                                <a type="button" class="btn btn-md btn-danger" >Hapus</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"> 
                                    <div class="detail-group">
                                        <label><b>Total Harga Awal</b></label>
                                    </div>
                                </div>
                                <div class="col-9"> 
                                    <div th:text="': ' + ${totalHargaAwal}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"> 
                                    <div class="detail-group">
                                        <label><b>Total Harga Setelah Diskon</b></label>
                                    </div>
                                </div>
                                <div class="col-9"> 
                                    <div th:text="': ' + ${totalHargaDiskonSatuan}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"> 
                                    <div class="detail-group">
                                        <label><b>Total Harga Akhir</b></label>
                                    </div>
                                </div>
                                <div class="col-9"> 
                                    <div th:text="': ' + ${totalHargaAkhir}"></div>
                                </div>
                            </div>
                        </div>     
                        <div class="d-flex justify-content-end">
                            <a type="button" class="btn btn-md btn-primary" style="margin-right: 10px;">Ubah Detail</a>
                            <a type="button" class="btn btn-md btn-danger">Hapus</a>
                        </div>
                        
                    </div>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $(document).ready(function() {
            $('#table').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });
        });
    </script>


</body>

</html>