<!DOCTYPE html>
<html
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
>
	<head>
		<meta charset="UTF-8" />
		<object th:include="~{fragments/common :: js}" th:remove="tag"></object>
		<object th:include="~{fragments/common :: css}" th:remove="tag"></object>
		<title>Error</title>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div
					th:replace="~{fragments/error-sidebar}"
					class="col-lg-3 col-md-4"
				></div>
				<div class="col">
					<div id="pengadaan">
						<div class="card m-4 p-4">
							<div class="card-body">
								<div class="text-center">
									<div class="text-center">
										<h2
											th:if="${errorMessage != null and errorMessage != ''}"
											th:text="${errorMessage}"
										></h2>
										<!-- If errorMessage is empty, show "halaman tidak dapat dimuat" -->
										<h2 th:if="${errorMessage == null or errorMessage == ''}">
											Halaman tidak dapat dimuat
										</h2>
									</div>
								</div>
								<div class="text-center m-3">
									<a type="button" class="btn btn-md btn-danger" href="/"
										>Home</a
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
