<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <title>Gagal memperbarui barang</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
            <div class="col">
                <div id="pengadaan">
                    <div class="card m-4 p-4">
                        <div class="card-body">
                            <div class="text-center">
                                <h2> Nilai stok yang anda update tidak boleh negatif </h2>
                            </div>
                            <div class="text-center m-3">
                                <a type="button" class="btn btn-md btn-danger" href="/">Home</a>
                                <a type="button" class="btn btn-md btn-primary"
                                    th:href="@{/barang/{idBarang}/update (idBarang=${kode})}">Kembali ke halaman update
                                    barang</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>