<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Form Add Barang</title>
</head>

<body>
    <div class="container">
        <div class="card m-4 p-4 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2> <b style="font-size:40px"> Tambah Barang </b> </h2>
                    <br>

                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <form th:action="@{/barang/tambah}" th:object="${barangDTO}" method="POST"
                                    enctype="multipart/form-data" onsubmit="return validateForm()">

                                    <label for="namaBarang"> <b style="font-size:24px"> Nama Barang</b><span
                                            style="color: red;">*</span></label> <br>


                                    <input required class="form-control" type="text" th:field="*{namaBarang}"
                                        placeholder="Contoh: Semen" />
                                    <br><br>

                                    <label for="deskripsiBarang"><b style="font-size:24px"> Deskripsi Barang</b><span
                                            style="color: red;">*</span></label>
                                    <input required class="form-control" type="text" th:field="*{deskripsiBarang}"
                                        placeholder="Contoh: Semen adalah ..." />
                                    <br><br>

                                    <label for="tipeBarang"><b style="font-size:24px"> Tipe Barang</b><span
                                            style="color: red;">*</span></label> <br>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <select class="form-control" name="tipeBarang" id="tipeBarang"
                                                    th:field="*{tipeBarang}">
                                                    <option value="0" disabled selected>-- Pilih tipe barang --</option>
                                                    <option value="1">Alat</option>
                                                    <option value="2">Material</option>
                                                </select>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br>

                                    <b style="font-size:24px"> Dimensi Barang</b> <br>
                                    <input class="form-control" type="text" th:field="*{dimensiBarang}"
                                        placeholder="P x L x T. Contoh: 10 x 12 x 30 (opsional)" />
                                    <br><br>

                                    <b style="font-size:24px"> Berat Barang</b> <br>
                                    <input class="form-control" type="text" th:field="*{beratBarang}"
                                        placeholder="Contoh: 30 kg / 5 ons (opsional)" />
                                    <br><br>

                                    <label for="fotoBarang"><b style="font-size:24px"> Foto Barang</b><span
                                            style="color: red;">*</span></label> <br>
                                    <input type="file" name="file" class="form-contol-file" id="customFile" />

                                    <br><br>
                                    <br>

                                    <label for="stokBarang"><b style="font-size:24px"> Stok Awal</b><span
                                            style="color: red;">*</span></label> <br>
                                    <input required class="form-control" type="number" th:field="*{stokBarang}"
                                        id="stokAwal" placeholder="Contoh: 30" />
                                    <br><br>

                                    <label for="standarStokBarang"><b style="font-size:24px"> Standar Stok Barang</b><span style="color: red;">*</span></label>
                                    <br>
                                    <input required class="form-control" type="number" th:field="*{standarStokBarang}"
                                        id="standarStok" placeholder="Contoh: 5" />
                                    <br>

                                    <p> Notes: </p>
                                    <p> Stok Awal adalah stok yang dimilki sekarang saat menambah kuantitas barang. Jika
                                        belum
                                        memiliki barang, isi dengan 0.
                                        Standar Stok Barang adalah jumlah standar stok yang harus dimiliki oleh barang
                                        tersebut.
                                    </p>
                                    <p> Jika jumlah stok barang berkurang sampai kurang dari jumlah standar stok
                                        minimal, maka
                                        sistem akan mengirimkan notifikasi peringatan.</p>

                                    <br>


                                    


                                
                            </div>
                            <div class="col-8 d-flex justify-content-center align-items-center">

                                <img src="https://th.bing.com/th/id/OIP.15WndzPQEtPj9eiOz5Zk4wHaFX?rs=1&pid=ImgDetMain"
                                    alt="gambar">

                            </div>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-danger btn-lg me-4 px-5" href="/">Batal</a>
                                <!-- me-4 untuk memberikan margin kanan sebesar 20px -->
                                <button class="btn btn-primary btn-lg px-5" type="submit">Simpan</button>
                            </div>
                        </form>
                        </div>



                    </div>




                </div>
            </div>
        </div>
    </div>
    <script>
        function validateForm() {
            var stokAwal = document.getElementById("stokAwal").value;
            var standarStok = document.getElementById("standarStok").value;
            var tipeBarang = document.getElementById("tipeBarang").value;
            var fileInput = document.getElementById("customFile");
            var fileSize = fileInput.files[0].size;

            if (tipeBarang == 0) {
                alert("Pilih tipe barang kamu!");
                return false;
            }

            if (stokAwal < 0 || standarStok < 0) {
                alert("Jumlah stok tidak boleh negatif!");
                return false;
            }

            if (fileSize > 10 * 1024 * 1024) { // Maksimum 10MB
                alert("Ukuran file foto tidak boleh lebih dari 10MB!");
                return false;
            }

            return true;
        }

        document.getElementById("tipeBarang").selectedIndex = 0;
    </script>
</body>



</html>
<!DOCTYPE html>