<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>SIPP - PRORORO</title>
</head>

<body>
    <div style="text-align: center;">
    <img src="https://gitlab.cs.ui.ac.id/propensi-2023-2024-genap/kelas-c/c06-prororo/-/raw/main/images/logo.png?ref_type=heads" 
    alt="prororo"
    style="width:100px;height:100px;">

    <br><br>
    
    <p>hello world this is prororo hihuhe</p><br>

    <p>our amazing sipp information system for pt bumi karsa is coming soon!</p>
    <p>stay tuned x</p>
    </div>    
</body>

</html>