<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>SIPP - PRORORO</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div style="text-align: center">
      <img
        src="https://gitlab.cs.ui.ac.id/propensi-2023-2024-genap/kelas-c/c06-prororo/-/raw/main/images/logo.png?ref_type=heads"
        alt="prororo"
        style="width: 100px; height: 100px"
      />

      <br /><br />

      <p>hello world this is prororo hihuhe</p>
      <br />

      <p>
        our amazing sipp information system for pt bumi karsa is coming soon!
      </p>
      <a href="/user/add" class="btn btn-primary">Add User</a>
      <a href="/user" class="btn btn-primary">View All User</a>
      <p>stay tuned x</p>
    </div>
  </body>
</html>
