<!DOCTYPE html>
<html
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
>
	<head>
		<meta charset="UTF-8" />
		<title>Konfirmasi Logout</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div
					th:replace="~{fragments/admin-sidebar}"
					class="col-lg-3 col-md-4"
				></div>
				<div class="col">
					<div id="pengadaan">
						<div class="card m-4 p-4">
							<div class="card-body">
								<div class="text-center">
									<div class="container p-5 text-center">
										<h2>Konfirmasi Logout</h2>
										<p>Anda yakin ingin Logout?</p>
										<form th:action="@{'/logout'}" method="get">
											<button type="submit" class="btn btn-danger">
												Logout
											</button>
											<a href="/" class="btn btn-secondary">Batal</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
