<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Delete Pengadaan</title>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <!--        <div th:replace=~{"fragments/sidebarf :: sidebar}" class="col-lg-3 col-md-4" ></div>-->
        <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
        <div class="col">
            <div class="card mx-lg-5 m-4 p-4">
                <div class="card-body text-center">
                    <h2 th:text="'Pengadaan berhasil dihapus.'"></h2>
                </div>
                <div class="text-center m-3">
                    <a type="button" class="btn btn-md btn-primary" href="/">Home</a>
                    <a type="button" class="btn btn-md btn-primary" href="/pengadaan">Lihat Semua Pengadaan</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>

