<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Buat Pengadaan</title>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
</head>

<body>
<!--<nav th:replace="~{fragments/fragment :: navbar('permintaan-pengiriman')}"></nav>-->
<div class="container-fluid">
    <div class="row">
        <!--        <div th:replace=~{"fragments/sidebarf :: sidebar}" class="col-lg-3 col-md-4" ></div>-->
        <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
        <div class="col">
            <div id="updatepengadaan">
                <div class="card mx-lg-5 m-4 p-4">
                    <h2 class="card-header text-center p-3">Buat Pengadaan</h2>
                    <div class="card-body">
                        <div class="justify-content-center">
                            <form id="form-pengadaan-update"
                                    th:action="@{'/pengadaan/' + ${pengadaanDTO.idPengadaan} + '/update'}"
                                    th:object="${pengadaanDTO}"
                                    method="POST"
                                    class="mx-4"
                            >
                                <input t ype="hidden" name="idPengadaan" th:field="*{idPengadaan}" />
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                <!--                                <input type="hidden" name="addRow" th:value="*{true}" />-->
<!--                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--                                <input type="hidden" name="addRow" th:if="${not #lists.isEmpty(pengadaanDTO.listBarang)}" />-->
<!--                                <input type="hidden" name="deleteRow" th:if="${not #lists.isEmpty(pengadaanDTO.listBarang)}" />-->
                                <div class="row">
                                    <div class="col">
                                        <label> <b style="font-size:24px"> Nama Pengadaan: </b><span style="color: red;">*</span> </label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                required="required"
                                                th:field="*{namaPengadaan}"
                                        />
                                        <br><br>

                                        <label> <b style="font-size:24px"> Tanggal Pengadaan: </b><span style="color: red;">*</span></label>
                                        <input
                                                class="form-control"
                                                type="date"
                                                required="required"
                                                th:field="*{tanggalPengadaan}"
                                        />
                                        <br><br>

                                        <label> <b style="font-size:24px"> Nama Vendor: </b><span style="color: red;">*</span></label>
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <select
                                                        class="form-control"
                                                        name="kodeVendor"
                                                        id="kodeVendor"
                                                        th:field="*{vendor.kodeVendor}"
                                                >
                                                    <option
                                                            th:each="vendor: ${listVendor}"
                                                            th:value="${vendor.kodeVendor}"
                                                            th:text="${vendor.namaVendor}"
                                                    ></option>
                                                </select>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <br /><br />
                                    </div>
                                </div>

                                <div class="text-right">
                                    <!--                        <button type="submit" class="my-4 ml-2 btn btn-primary" id="add-row" name="addRow">+ Tambah Row</button>-->
                                    <button type="submit" class="btn btn-primary btn-lg px-5" name="tambahRow" value="true" onclick="return validateTambahBarang()">+ Tambah Barang</button>

                                </div>
                                <br><br>

                                <table class="table table-bordered" >
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Barang</th>
                                        <th scope="col">Jumlah Barang</th>
                                        <th scope="col">Harga Satuan</th>
                                        <th scope="col">Diskon Satuan (%)</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>

                                    <tbody id="barangRows">
                                    <tr th:each="barang, iterationStatus : *{listBarang}">
                                        <td th:text="${iterationStatus.count}"></td>

                                        <td>
                                            <select
                                                    th:field="*{listBarang[__${iterationStatus.index}__].barang.kodeBarang}"
                                                    class="form-control"
                                            >
                                                <option value="">Pilih Barang</option>
                                                <th:block
                                                        th:each="barangExisting : ${listBarang}"
                                                        th:remove="tag"
                                                >
                                                    <option
                                                            th:value="${barangExisting.kodeBarang}"
                                                            th:text="${barangExisting.namaBarang}"
                                                    ></option>
                                                </th:block>
                                            </select>
                                        </td>

                                        <td>
                                            <input
                                                    type="number"
                                                    th:field="*{listBarang[__${iterationStatus.index}__].jumlahBarang}"
                                                    class="form-control jumlahBarang"
                                                    min="1"
                                                    step="1"
                                                    placeholder="Jumlah Barang"

                                            />
                                        </td>
                                        <td>
                                            <input
                                                    type="number"
                                                    th:field="*{listBarang[__${iterationStatus.index}__].hargaBarang}"
                                                    class="form-control"
                                                    min="0"
                                                    step="1"
                                                    placeholder="Harga Barang"
                                            />
                                        </td>
                                        <td>
                                            <input
                                                    type="number"
                                                    th:field="*{listBarang[__${iterationStatus.index}__].diskonSatuan}"
                                                    class="form-control"
                                                    min="0"
                                                    max="100"
                                                    step="1"
                                                    placeholder="Diskon Satuan (%)"
                                            />
                                        </td>
                                        <td>
                                            <button
                                                    th:value="${iterationStatus.index}"
                                                    class="btn btn-danger"
                                                    type="submit"
                                                    name="hapusRow"
                                            >
                                                Hapus
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="row">
                                    <div class="col">
                                        <label> <b style="font-size:24px"> Diskon Keseluruhan (%): </b><span style="color: red;">*</span></label>
                                        <input
                                                class="form-control"
                                                type="number"
                                                required="required"
                                                min="0"
                                                max="100"
                                                step="1"
                                                th:field="*{diskonKeseluruhan}"
                                        />
                                        <br /><br />
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <a class="btn btn-danger btn-lg me-4 px-5" href="/">Batal</a>
                                    <!-- me-4 untuk memberikan margin kanan sebesar 20px -->
                                    <button class="btn btn-primary btn-lg px-5"
                                            type="submit" onclick="return validateForm()">Simpan</button>
                                </div>

                            </form>

                            <script>
                            // Function to validate each kuantitas field
                    function validateTambahBarang() {
                        var inputs = document.querySelectorAll('.jumlahBarang');
                        var isValid = true;
                        inputs.forEach(function(input) {
                            if (input.value === "") {
                                isValid = false;
                            }
                        });
                        if (!isValid) {
                            alert("Jumlah barang wajib diisi.");
                        }
                        return isValid;
                    }

                    // Function to validate the whole form before submission
                    function validateForm() {
                        var inputs = document.querySelectorAll('.jumlahBarang');
                        var isValid = true;
                        inputs.forEach(function(input) {
                            if (input.value === "") {
                                isValid = false;
                            }
                        });
                        if (!isValid) {
                            alert("jumlah barang wajib diisi.");
                        } else {
                            document.getElementById("form-pengadaan-update").submit();
                        }
                    }

                    function addRow() {
                      // Dapatkan div kontainer untuk baris-baris barang
                      var barangRows = document.getElementById("barangRows");

                      // Buat elemen div baru untuk baris barang
                      var newBarangRow = document.createElement("div");
                      newBarangRow.className = "barangRow";

                      // Tambahkan input namaBarang pada baris baru
                      var inputNamaBarang = document.createElement("input");
                      inputNamaBarang.type = "text";
                      inputNamaBarang.placeholder = "Nama Barang";
                      inputNamaBarang.name =
                        "listBarang[" + barangRows.childElementCount + "].namaBarang"; // Sesuaikan dengan atribut lain yang dibutuhkan
                      newBarangRow.appendChild(inputNamaBarang);

                      // Tambahkan tombol untuk menghapus baris
                      var deleteButton = document.createElement("button");
                      deleteButton.type = "button";
                      deleteButton.textContent = "Hapus Baris";
                      deleteButton.onclick = function () {
                        removeRow(this);
                      };
                      newBarangRow.appendChild(deleteButton);

                      // Tambahkan baris baru ke dalam kontainer
                      barangRows.appendChild(newBarangRow);
                    }

                    function removeRow(button) {
                      // Dapatkan elemen div baris yang berisi tombol yang diklik
                      var rowToRemove = button.parentNode;

                      // Dapatkan elemen div kontainer untuk baris-baris barang
                      var barangRows = document.getElementById("barangRows");

                      // Hapus baris dari kontainer
                      barangRows.removeChild(rowToRemove);
                    }

                    function validateForm() {
                    // Ambil semua input dalam form
                    var inputs = document.querySelectorAll('input, select');
                    var isValid = true;

                    // Loop melalui setiap input
                    inputs.forEach(function(input) {
                        // Jika input kosong dan required, tandai sebagai tidak valid
                        if (input.required && !input.value.trim()) {
                            isValid = false;
                            // Tambahkan class 'is-invalid' untuk menandai input yang tidak valid
                            input.classList.add('is-invalid');
                        }
                    });

                    // Jika ada field yang tidak diisi, tampilkan pesan kesalahan
                    if (!isValid) {
                        alert("Mohon lengkapi semua field yang dibutuhkan.");
                    }

                    return isValid;
                }

                function validateForm() {
                        // Ambil semua select dalam form
                        var selectInputs = document.querySelectorAll('select');

                        // Loop melalui setiap select
                        for (var i = 0; i < selectInputs.length; i++) {
                            // Periksa apakah select tidak memiliki nilai
                            if (!selectInputs[i].value) {
                                // Tampilkan peringatan kepada pengguna
                                alert("Mohon pilih barang untuk setiap baris.");

                                // Berhenti validasi dan mencegah pengiriman form
                                return false;
                            }
                        }

                        // Jika semua select memiliki nilai, form bisa disubmit
                        return true;
                    }

                  </script>
                        </div>
                    </div>
                </div>

            </div>
</body>
</html>
