<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
  <title>Dashboard Pengadaan</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
    <div class="col">
      <div class="container">
        <div class="card m-4 p-4 shadow-lg p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <h2>Pengadaan</h2>
                </div>
                <canvas id="monthlyExpenditureChart" width="800" height="400"></canvas>
              </div>
              <div class="col-md-6">
                <div class="text-center">
                  <h4>Pengeluaran Pertahun</h4>
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Total Pengeluaran Tahunan: <span id="totalPengeluaranTahunan"></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  $(document).ready(function () {
    fetch('/api/pengadaan/view-all') // Fetch data untuk grafik
            .then(response => response.json())
            .then(data => {
              const labels = Object.keys(data);
              const dataValues = Object.values(data);

              // Pembersihan data jika terdapat nilai negatif atau tidak valid
              for (let i = 0; i < dataValues.length; i++) {
                if (dataValues[i] < 0 || !isFinite(dataValues[i])) {
                  dataValues[i] = 0; // Set nilai negatif atau infinity menjadi 0
                }
              }

              // Buat array of gradient objects
              var gradientObjects = [];
              var bar_ctx = document.getElementById('monthlyExpenditureChart').getContext('2d');

              // Buat gradient objects sesuai kebutuhan
              var backgrounds = ['red', 'green', 'orange', 'green'];
              for (let i = 0; i < backgrounds.length; i++) {
                var gradient = bar_ctx.createLinearGradient(0, 0, 0, 600);
                gradient.addColorStop(0, backgrounds[i]);
                gradient.addColorStop(1, 'blue');
                gradientObjects.push(gradient);
              }

              var ctx = document.getElementById('monthlyExpenditureChart').getContext('2d');
              var monthlyExpenditureChart = new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: labels,
                  datasets: [{
                    label: 'Total Pengeluaran Bulanan',
                    data: dataValues,
                    backgroundColor: gradientObjects,
                    borderColor: 'rgba(255, 206, 86, 1)',
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            })
            .catch(error => {
              console.error('Error fetching data: ', error);
            });

    fetch('/api/pengadaan/view-all-annual')
            .then(response => response.json())
            .then(data => {
              document.getElementById('totalPengeluaranTahunan').textContent = data.totalPengeluaranTahunan; // Perbarui elemen HTML dengan data total pengeluaran tahunan
            })
            .catch(error => {
              console.error('Error fetching data: ', error);
            });

  });

</script>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8" />-->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />-->
<!--  <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />-->
<!--  <title>Dashboard Pengadaan</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>-->
<!--    <div class="col">-->
<!--      <div class="container">-->
<!--        <div class="card m-4 p-4 shadow-lg p-3 mb-5 bg-white rounded">-->
<!--          <div class="card-body">-->
<!--            <div class="text-center">-->
<!--              <h2>Pengadaan</h2>-->
<!--            </div>-->
<!--            <canvas id="monthlyExpenditureChart" width="800" height="400"></canvas>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    fetch('/api/pengadaan/view-all') // Ganti dengan URL endpoint API Anda-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--              const labels = Object.keys(data);-->
<!--              const dataValues = Object.values(data);-->

<!--              // Pembersihan data jika terdapat nilai negatif atau tidak valid-->
<!--              for (let i = 0; i < dataValues.length; i++) {-->
<!--                if (dataValues[i] < 0 || !isFinite(dataValues[i])) {-->
<!--                  dataValues[i] = 0; // Set nilai negatif atau infinity menjadi 0-->
<!--                }-->
<!--              }-->

<!--              // Buat array of gradient objects-->
<!--              var gradientObjects = [];-->
<!--              var bar_ctx = document.getElementById('monthlyExpenditureChart').getContext('2d');-->

<!--              // Buat gradient objects sesuai kebutuhan-->
<!--              var backgrounds = ['red', 'green', 'orange', 'green'];-->
<!--              for (let i = 0; i < backgrounds.length; i++) {-->
<!--                var gradient = bar_ctx.createLinearGradient(0, 0, 0, 600);-->
<!--                gradient.addColorStop(0, backgrounds[i]);-->
<!--                gradient.addColorStop(1, 'blue');-->
<!--                gradientObjects.push(gradient);-->
<!--              }-->

<!--              // Buat chart menggunakan Chart.js dengan multiple colors for bars-->
<!--              var ctx = document.getElementById('monthlyExpenditureChart').getContext('2d');-->
<!--              var monthlyExpenditureChart = new Chart(ctx, {-->
<!--                type: 'bar',-->
<!--                data: {-->
<!--                  labels: labels,-->
<!--                  datasets: [{-->
<!--                    label: 'Total Pengeluaran Bulanan',-->
<!--                    data: dataValues,-->
<!--                    backgroundColor: gradientObjects,-->
<!--                    borderColor: 'rgba(255, 206, 86, 1)',-->
<!--                    borderWidth: 1-->
<!--                  }]-->
<!--                },-->
<!--                options: {-->
<!--                  scales: {-->
<!--                    y: {-->
<!--                      beginAtZero: true-->
<!--                    }-->
<!--                  }-->
<!--                }-->
<!--              });-->
<!--            })-->
<!--            .catch(error => {-->
<!--              console.error('Error fetching data: ', error);-->
<!--            });-->
<!--  });-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
