<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>View Detail Schedule</title>
    <style>
        .vendor-info {
            display: flex;
            align-items: center;
        }

        .vendor-label {
            flex: 0 0 auto; 
            text-align: left;
            margin-right: 10px; 
        }

        .vendor-value {
            flex: 1; 
            text-align: right;
        }
        .bg-warning {
            background-color: rgb(249, 222, 20);
        }

        .bg-warning p {
            padding: 10px;
            margin: 0;
        }

        .d-inline-flex {
            display: inline-flex;
        }

        table.table-bordered tbody tr td {
            border-bottom: 1px solid #dee2e6;
        }
    </style>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/rencana/">Daftar Rencana</a></li>
                        <li class="breadcrumb-item" aria-current="page">Detail Rencana</li>
                    </ol>
                </nav>
                <div class="card m-4 p-4">
                    <div class="card-body text-center">
                        <h1 th:text="${rencana.namaRencana}" style="font-weight: bold;"></h1>
                        <h5 style="font-style: italic; text-transform: capitalize; font-weight: bold;" th:text="'Status: ' + ${rencana.logRencana[rencana.logRencana.size() - 1].status}"></h5>
                        <h6 th:text="'Dibuat oleh ' + ${rencana.createdBy}"></h6>
                        <br>

                        <div class="card bg-warning text-white border-0 rounded p-3 d-inline-flex">
                            <div class="d-flex align-items-center">
                                <p class="mb-0 mr-3"><b> Tanggal Rencana: </b></p>
                                <span class="font-weight-bold" th:text="${#dates.format(#dates.create(rencana.expectedDate.year, rencana.expectedDate.monthValue, rencana.expectedDate.dayOfMonth), 'dd MMMM yyyy')}"></span>
                            </div>
                            <div th:switch="${rencana.logRencana[rencana.logRencana.size() - 1].status}">
                                <div class="d-flex align-items-center" th:case="'disetujui'">
                                    <p class="mb-0 mr-3"><b> Tanggal Disetujui: </b></p>
                                    <span th:text="${#dates.format(#dates.create(rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.year, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.monthValue, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.dayOfMonth), 'dd MMMM yyyy')}"></span>
                                </div>
                                <div class="d-flex align-items-center" th:case="'dibatalkan'">
                                    <p class="mb-0 mr-3"><b> Tanggal Dibatalkan: </b></p>
                                    <span th:text="${#dates.format(#dates.create(rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.year, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.monthValue, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.dayOfMonth), 'dd MMMM yyyy')}"></span>
                                </div>
                                <div class="d-flex align-items-center" th:case="'direalisasikan'">
                                    <p class="mb-0 mr-3"><b> Tanggal Direalisasikan: </b></p>
                                    <span th:text="${#dates.format(#dates.create(rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.year, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.monthValue, rencana.logRencana[rencana.logRencana.size() - 1].tanggalWaktu.dayOfMonth), 'dd MMMM yyyy')}"></span>
                                </div>
                            </div>
                        </div>

                        <br><br>

                        <div class="row" th:if="${rencana.pengadaan != null}">
                            <div class="col-3">
                                <h6 style="text-align: left;" class="card-text m-0"><b>ID Pengadaan Realisasi</b></h6>
                            </div>
                            <div class="col-9">
                                <h6 style="text-align: left;" class="card-text m-0">
                                    <a th:href="@{'/pengadaan/' + ${rencana.pengadaan.idPengadaan}}">
                                        <span th:text="' : ' + ${rencana.pengadaan.idPengadaan}"></span>
                                    </a>
                                </h6>
                            </div>
                        </div>

                        <br>
                        
                        <div class="row">
                            <div class="col-3">
                                <h6 style="text-align: left;" class="card-text m-0"><b>Nama Vendor</b></h6>
                            </div>
                            <div class="col-9">
                                <h6 style="text-align: left;" class="card-text m-0" th:text="' : ' + ${rencana.vendor.namaVendor}"></h6>
                            </div>
                        </div>
                        <br>
                        <h6 style="text-align: left;"><b> Barang Pengadaan </b></h6>
                        <table id="table" class="table table-bordered text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Nama Barang</th>
                                    <th scope="col">Kuantitas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="barangRencana, iterStat : ${rencana.listBarangRencana}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${barangRencana.namaBarang}"></td>
                                    <td th:text="${barangRencana.kuantitas}"></td>
                                </tr>
                            </tbody>
                        </table>  
                        <br><br>

                        <div th:unless="${rencana.logRencana[rencana.logRencana.size() - 1].status} == 'dibuat'">
                            <h6 style="text-align: left;"><b> Komentar Pengubahan Status </b></h6>
                            <div class="d-flex justify-content-end">
                                <input type="text" class="form-control" th:value="${rencana.logRencana[rencana.logRencana.size() - 1].feedback}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3" th:if="${rencana.logRencana.size() > 0}">
                    <div class="m-3">
                        <a id="deleteButton" type="button" class="btn btn-md btn-danger" href="#" th:if="${rencana.logRencana[rencana.logRencana.size() - 1].status != 'disetujui' and rencana.logRencana[rencana.logRencana.size() - 1].status != 'direalisasikan'}">Hapus Rencana</a>
                    </div>
                </div>

                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Konfirmasi Hapus Rencana</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Apakah Anda yakin ingin menghapus rencana ini?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Hapus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#table').DataTable({
                "paging": false,
                "ordering": false, 
                "info": false, 
                "searching": false 
            });

            $('#deleteButton').click(function() {
                $('#confirmationModal').modal('show');
            });

            $('#confirmDelete').click(function() {
                var id = [[${rencana.idRencana}]];
                window.location.href = "/rencana/" + id + "/delete";
            });

            $('#confirmationModal').on('click', '.btn-secondary', function() {
                $('#confirmationModal').modal('hide');
            });

            $('#confirmationModal').on('click', '.close', function() {
                $('#confirmationModal').modal('hide');
            });
        });
    </script>

</body>

</html>