<!DOCTYPE html>
<html
	lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
>
	<head>
		<meta charset="UTF-8" />
		<title>Daftar Pengadaan</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"
			rel="stylesheet"
		/>
		<object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
				<div class="col">
					<div id="pengadaan">
						<div class="card m-3 p-2">
							<div class="card-body">
								<div class="text-center">
									<h2>Daftar Pengadaan</h2>
									<div class="text-center m-3">
										<a
											href="/pengadaan/tambah"
											class="btn btn-primary"
											style="align-self: self-end"
											>+ Tambah Pengadaan</a
										>
									</div>
								</div>

								<br />

								<div class="form-group row mb-5">
									<label class="col-sm-3 col-form-label">Filter:</label>
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-6">
												<label for="shipmentFilter">Status Pengiriman:</label>
												<select id="shipmentFilter" class="form-select">
													<option value="">All</option>
													<option value="0">Sedang diproses</option>
													<option value="1">Sudah sampai</option>
												</select>
											</div>
											<div class="col-sm-6">
												<label for="paymentFilter">Status Pembayaran:</label>
												<select id="paymentFilter" class="form-select">
													<option value="">All</option>
													<option value="0">Belum dibayar</option>
													<option value="1">Sedang diproses</option>
													<option value="2">Sudah dibayar</option>
												</select>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-sm-12">
												<label for="vendorFilter">Vendor:</label>
												<select id="vendorFilter" class="form-select">
													<option value="">All</option>
													<!-- Tambahkan opsi untuk setiap vendor -->
													<option
														th:each="vendor : ${listVendor}"
														th:value="${vendor.namaVendor}"
														th:text="${vendor.namaVendor}"
													></option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<table
									id="pengadaanTable"
									class="table table-bordered text-center"
								>
									<thead style="background-color: #ffc023">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Kode Pengadaan</th>
											<th scope="col">Nama Pengadaan</th>
											<th scope="col">Vendor</th>
											<th scope="col">Status Pengiriman</th>
											<th scope="col">Status Pembayaran</th>
											<th scope="col">Aksi</th>
										</tr>
									</thead>
									<tbody>
										<!-- Thymeleaf untuk iterasi daftar pengadaan -->
										<tr
											th:each="pengadaan, iterStat : ${listPengadaan}"
											th:if="${!pengadaan.isDeleted}"
										>
											<td th:text="${iterStat.index + 1}"></td>
											<td th:text="${pengadaan.idPengadaan}"></td>
											<td th:text="${pengadaan.namaPengadaan}"></td>
											<td th:text="${pengadaan.vendor.namaVendor}"></td>
											<td>
												<span th:if="${pengadaan.shipmentStatus == 0}"
													>Sedang diproses</span
												>
												<span th:if="${pengadaan.shipmentStatus == 1}"
													>Sudah sampai</span
												>
											</td>
											<td>
												<span th:if="${pengadaan.paymentStatus == 0}"
													>Belum dibayar</span
												>
												<span th:if="${pengadaan.paymentStatus == 1}"
													>Sedang diproses</span
												>
												<span th:if="${pengadaan.paymentStatus == 2}"
													>Sudah dibayar</span
												>
											</td>
											<td>
												<a
													type="button"
													class="btn btn-sm btn-info"
													th:href="@{/pengadaan/{idPengadaan}(idPengadaan=${pengadaan.idPengadaan})}"
													style="
														display: block;
														margin-bottom: 5px;
														background-color: #407bff;
													"
													>Detail</a
												>
												<a
													type="button"
													class="btn btn-sm btn-warning"
													th:href="@{/pengadaan/{id}/updateShipmentStatus(id=${pengadaan.idPengadaan})}"
													style="display: block; margin-bottom: 5px"
													>Update Pengiriman</a
												>
												<a
													type="button"
													class="btn btn-sm btn-success"
													th:href="@{/pengadaan/{id}/updatePaymentStatus(id=${pengadaan.idPengadaan})}"
													style="display: block; margin-bottom: 5px"
													>Update Pembayaran</a
												>
											</td>
										</tr>
									</tbody>
								</table>

								<br /><br />
							</div>
						</div>

						<div class="card m-4 p-4 shadow-lg p-3 mb-5 bg-white rounded">
							<div class="card-body">
								<div class="text-center">
									<h2>Daftar Log Pengadaan</h2>
								</div>
								<br />

								<table
									id="logPengadaanTable"
									class="table table-bordered text-center"
								>
									<thead style="background-color: #ffc023">
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Kode Pengadaan</th>
											<th scope="col">Diubah Oleh</th>
											<th scope="col">Perubahan</th>
											<th scope="col">Komentar</th>
											<th scope="col">Waktu diubah</th>
										</tr>
									</thead>
									<tbody>
										<!-- Thymeleaf untuk iterasi daftar pengadaan -->
										<tr th:each="logPengadaan, iterStat : ${listLogPengadaan}">
											<td th:text="${iterStat.index + 1}"></td>
											<td>
												<a
													th:href="@{'/pengadaan/' + ${logPengadaan.pengadaan.idPengadaan}}"
												>
													<span
														th:text="${logPengadaan.pengadaan.idPengadaan}"
													></span>
												</a>
											</td>
											<td th:text="${logPengadaan.changedBy}"></td>
											<td th:text="${logPengadaan.status}"></td>
											<td th:text="${logPengadaan.feedback}"></td>
											<td
												th:text="${#dates.format(#dates.create(logPengadaan.tanggalWaktu.year, logPengadaan.tanggalWaktu.monthValue, logPengadaan.tanggalWaktu.dayOfMonth), 'dd/MM/yyyy') + ', ' + #dates.format(#dates.create(logPengadaan.tanggalWaktu.year, logPengadaan.tanggalWaktu.monthValue, logPengadaan.tanggalWaktu.dayOfMonth, logPengadaan.tanggalWaktu.hour, logPengadaan.tanggalWaktu.minute, logPengadaan.tanggalWaktu.second), 'HH:mm')}"
											></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
	<script>
		$(document).ready(function () {
			var table = $("#pengadaanTable").DataTable({
				paging: true,
				searching: true,
				ordering: true,
				info: true,
				order: [[0, "desc"]],
			});

			$("#shipmentFilter").on("change", function () {
				var selectedValue = $(this).val();

				var shipmentStatus = "";
				if (selectedValue === "0") {
					shipmentStatus = "Sedang diproses";
				} else if (selectedValue === "1") {
					shipmentStatus = "Sudah sampai";
				}

				table.column(4).search(shipmentStatus).draw();
			});

			$("#paymentFilter").on("change", function () {
				var selectedValue = $(this).val();

				// Ubah nilai sesuai dengan nilai yang dipilih dalam dropdown
				var paymentStatus = "";
				if (selectedValue === "0") {
					paymentStatus = "Belum dibayar";
				} else if (selectedValue === "1") {
					paymentStatus = "Sedang diproses";
				} else if (selectedValue === "2") {
					paymentStatus = "Sudah dibayar";
				}

				table.columns(5).search(paymentStatus).draw();
			});

			$("#vendorFilter").on("change", function () {
				var selectedValue = $(this).val();

				table.column(3).search(selectedValue).draw();
			});
		});

		$(document).ready(function () {
			var table = $("#logPengadaanTable").DataTable({
				paging: true,
				searching: true,
				ordering: true,
				info: true,
				order: [[0, "desc"]],
			});
		});
	</script>
</html>
