<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>View Detail Barang</title>
</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebarf}" class="col-lg-3 col-md-4"></div>
            <div class="col">
                <div class="container">
                    <div class="card m-4 p-4 shadow-lg p-3 mb-5 bg-white rounded">
                        <div class="card-body text-center">


                            <br>

                            <!-- Aku ingin menampilkkan foto barang disini -->
                            <img th:src="'data:image/jpeg;base64,' + ${base64Image}" alt="Foto Barang"
                                style="max-width: 300px;" />

                            <p style="font-size:60px; font-weight:600;" th:text="${barang.namaBarang}"></p>
                            <p style="text-align: center;" th:text="${barang.deskripsiBarang}"></p>

                            <br><br>
                            <br><br>

                            <h3> Spesifikasi </h3>

                            <p th:if="${barang.dimensiBarang == ''}" th:text="'Dimensi: NaN'"></p>
                            <p th:unless="${barang.dimensiBarang == ''}"
                                th:text="'Dimensi: ' + ${barang.dimensiBarang}"></p>

                            <p th:if="${barang.beratBarang == ''}" th:text="'Berat barang: NaN'"></p>
                            <p th:unless="${barang.beratBarang == ''}"
                                th:text="'Berat barang: ' + ${barang.beratBarang}"></p>

                            <p th:text="'Tipe Barang: ' + ${barang.tipeBarang == 1 ? 'Alat' : 'Material'}"></p>
                            <p th:text="'Stok barang: ' + ${barang.stokBarang}"></p>
                            <br><br>


                            <div class="container">
                                <div class="row">
                                    <div class="col text-start"> <!-- align kanan -->
                                        <a type="button" class="btn btn-md btn-secondary" href="/barang">Kembali</a>
                                    </div>
                                    <div class="col text-center"> <!-- align kanan -->
                                        <a type="button" class="btn btn-md btn-primary" th:href="@{/barang/{id}/update(id=${barang.kodeBarang})}">Update</a>
                                    </div>
                                    <div class="col text-end"> <!-- align kiri -->
                                        <a type="button" class="btn btn-md btn-danger" th:href="@{/barang/{id}/delete(id=${barang.kodeBarang})}">Hapus</a>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>

</html>